.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background: url("https://ak9.picdn.net/shutterstock/videos/13027199/thumb/11.jpg?i10c=img.resize(height:160)")
}
