.hero-item {
    text-align: right;
    margin-right: 175px;
}

#heroContainer {
    color: white
}

.who {
    text-align: left !important;
    justify-content: center !important;
    margin-left: 100px !important;
    margin-top: 75px !important;
    margin-bottom: 100px !important;
}

.aboutMe {
    text-align: left !important;
  

    margin-top: 75px !important;
    margin-bottom: 25px !important;
    margin-right: 100px !important;
}

.aboutC {
    background-color: #f9f9f9;
}

div {
    color: #114E59;
    font-family: 'Asap', sans-serif !important;
}

.header {
    color: #A5a5a5 !important;
    font-family: 'PT Serif', serif;
    font-weight: 300 !important;

}

.row {
    padding-left: 5% !important;
    padding-right: 5% !important;
}