.footer {
    background: url("http://getwallpapers.com/wallpaper/full/a/9/2/450149.jpg");
    background-color: darkgray;
    color: white !important;
}

.footerSection {
    color: white !important;
    text-align: center;
    margin: 50px;
    padding: 5px;
}