.jobDetails, .dateRange {
    margin-top: 25px !important;
    margin-bottom: 0px !important;
}

.workXP {
        text-align: center !important;
        justify-content: center !important;
        margin-left: 100px !important;
        margin-top: 25px !important;
        margin-bottom: 0px !important;
}